<div class="table-responsive">
    <table class="table table-bordered">
        <ng-container *ngTemplateOutlet="!header ? getTemplateRef('header') : defaultTemplate; context: {$implicit: header}"></ng-container>
        <ng-container *ngTemplateOutlet="!body ? getTemplateRef('body') : defaultTemplate; context: {$implicit: body}"></ng-container>
        <ng-container *ngTemplateOutlet="!footer ? getTemplateRef('footer') : defaultTemplate; context: {$implicit: footer}"></ng-container>
    </table>
</div>

<ng-template #defaultTemplate let-data>
    <thead *ngIf = "data.value.length > 0">
        <tr>
            <th *ngFor = "let label of data.value">
                {{generateContent(label, data.bindLabel)}}
            </th>
        </tr>
    </thead>
</ng-template>